.Our {
    width: 100%;
    height: 800px;
}

.s {
    margin-left: 100px;
}

.hero {
    background-color: #6998AB;
    height: 660px;
}


.Lets {
    color: white;
    font-size: 55px;
}

.h1 {
    color: white !important;
    font-size: 55px !important;
    text-decoration: none;
}

.Tour:hover {
    color: white;
}

.header {
    background-color: #6998AB;
    width: 100%;
    height: 700px;
}

.form {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    margin-top: 50px;
}

.btn-primary {
    background-color: #1A374D !important;
    border: 1px solid #1A374D !important;
}

.carousel-item img {
    border-radius: 15px !important;
    height: 600px;
    margin-top: 30px;
    overflow: hidden;
}

.OS {
    text-align: center;
    padding-top: 150px;
    font-size: 33px;
}

.p {
    text-align: center;
}

.text {
    text-align: justify;
}

.Image {
    width: 350px;
    height: 490px;
    border-radius: 22px !important;
    float: left;
}

.pers {
   border-radius: 50%;
   margin-left: 610px;
   text-align: center;
   width: 70px;
   height: 70px!important;
}

.Testimonials {
 background-color: rgb(249, 249, 249);
 padding-top: 50px;
 padding-bottom: 50px;
 margin-bottom: 100px;
}

.ts {
    text-align: center;
}

.tst {
    text-align: center;
    font-size: 30px;
}

.img-wrap {
    width: 100%;
    height: 300px;
}

.float {
    float: left;
}

.Icon {
    font-size: 44px;
}

.card {
    width: 350px !important;
    padding: 33px;
    border-radius: 22px;
    background-color: rgba(26, 55, 77, 0.05);
    border: 1px solid rgba(26, 55, 77, 0.05);
    margin-left: 22px;
    margin-bottom: 22px;
}

.div {
    margin-top: 150px;
    margin-bottom: 100px;
}

.counter-box {
    display: block;
    background: white;
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: Black;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: Black
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: black;
    line-height: 28px
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}

.special_offer {
    margin-top: 30px;
}

.special_offer hr {
    width: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1A374D;
    height: 2px;
    border: 0 none;
}

.special_offer img {
    border-radius: 20px;
}

.video {
    margin-bottom: 100px;
}

.video hr {
    width: 8%;
    margin-left: 5px;
    background-color: #212529;
    height: 2px;
    border: 0 none;
}

.video li {
    list-style-type: circle;
    margin-bottom: 10px;
}

.video .btn {
    color: white;
}

.video .btn-dark {
    background: #1A374D !important;
    border-color: #1A374D !important;
}

.video .btn-dark:hover {
    background-color: rgba($color: #1A374D, $alpha: 0.9) !important;
}

.screen {
    background-image: url(../../assets/images/hero-slider-2.jpg);
    height: 800px;
    background-repeat: no-repeat;
    width: 90%;
    background-size: cover;
    margin-left: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin rings($duration, $delay) {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(26, 55, 77, 0.6);
    border-radius: 100%;
    animation-name: ripple;
    // animation-duration: $duration;
    // animation-delay: $delay;
    animation-duration: 1.5s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    // animation-timing-function: cubic-bezier(.65, 0, .34, 1);
    animation-timing-function: ease-out ;
    z-index: -1;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
    }
    to {
        opacity: 0;
        transform: scale3d(1.1, 1.1, 1);
    }
}

.request-loader {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    z-index: 3;
    height: 120px;
    width: 120px;
    background: transparent;
    // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    &::after {
        @include rings(1.5s, 0s);
    }
    // &::before {
    //     @include rings(3s, 0.5s);
    // }
}

.margin-t {
    margin-top: 150px;
}

.play-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #204560;
    font-size: 30px;
    // padding-top: 25px;
    // padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}