

.dice{
    // opacity: .8;
    background-image: url(../../assets/images/dices-background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgb(207, 65, 107);
}

h1{
    font-size: 4rem;
}

button{
    margin-top: 2.1rem;
    width: 10rem;
    height: auto;
}

button img{
    justify-content: center;
    align-items: center;
}