<!-- header + -->
<div class="header w-100 container-fluid my-5 py-5">
    <div class="container my-5">
        <div class="row align-items-center text-center mx-auto">
            <h1 class="mb-0">Elements</h1>
            <p>Far far away, behind the word mountains, far from the countries
            <br> Vokalia and Consonantia, there live the blind texts.</p>
        </div>
    </div>
</div>

<!-- carousel + -->
<div class="carousel mt-5">
    <div class="row mx-0 mt-5 pt-5">
        <div class="col-12 col-sm-11 mx-auto">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../assets/images/slider-1.jpg" class="container-fluid d-block w-100" alt="slider-1">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/slider-2.jpg" class="container-fluid d-block w-100" alt="slider-2">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/slider-3.jpg" class="container-fluid d-block w-100" alt="slider-3">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/slider-4.jpg" class="container-fluid d-block w-100" alt="slider-4">
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<!-- accordion,gallery,form,video -->
<section class="section2 my-3 mx-2 mx-sm-3 mx-md-4">
        <div class="rel row justify-content-center align-items-center my-3 mx-auto g-4">
            <!-- <div class="mydiv container-fluid my-3"></div> -->
                <div class="col-lg-6 me-lg-auto ">
                    <div class="col-lg-6 ms-lg-auto">
                                <h2 class="fw-bold">Accordion</h2>
                                <hr>
                                <div class="accordion accordion-flush" id="accordionExample">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            <h6 class="ms-5">How to download and register?</h6>
                                        </button>
                                      </h2>
                                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti quae, exercitationem ab quidem tenetur cumque eius nulla quos ratione hic?</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <h6 class="ms-5">How to create yout paypal account?</h6>
                                        </button>
                                      </h2>
                                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti quae, exercitationem ab quidem tenetur cumque eius nulla quos ratione hic?</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <h6 class="ms-5">How to link your paypal and bank account?</h6>
                                        </button>
                                      </h2>
                                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti quae, exercitationem ab quidem tenetur cumque eius nulla quos ratione hic?</p>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-lg-6 ms-lg-auto ms-lg-2">
                        <h2 class="fw-bold">Gallery</h2>
                        <hr>
                        <div class="row justify-content-start">
                            <div class="col-4 col-lg-4">
                                <img src="../../assets/images/gal_1.jpg" alt="img" class="m-1 img-fluid rounded">
                            </div>
                            <div class="col-4 col-lg-4">
                                <img src="../../assets/images/gal_2.jpg" alt="img" class="m-1 img-fluid rounded">
                            </div>
                            <div class="col-4 col-lg-4">
                                <img src="../../assets/images/gal_3.jpg" alt="img" class="m-1 img-fluid rounded">
                            </div>
                            <div class="col-4 col-lg-4">
                                <img src="../../assets/images/gal_4.jpg" alt="img" class=" m-1 img-fluid rounded">
                            </div>
                            <div class="col-4 col-lg-4">
                                <img src="../../assets/images/gal_5.jpg" alt="img" class="m-1 img-fluid rounded">
                            </div>
                            <div class="col-4 col-lg-4">
                                <img src="../../assets/images/gal_6.jpg" alt="img" class="m-1 img-fluid rounded">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ms-lg-auto my-3 py-3">
                                <h2 class="d-block fw-bold">Video</h2>
                                <hr>
                                <a href="https://vimeo.com/342333493" class="video-wrap d-block mx-auto text-center">
                                    <i class="bi bi-play-fill"></i>
                                </a>
                    </div>
                </div>

                <div class="form-social col-lg-6">
                    <div class="col-lg-6">
                        <h2 class="fw-bold">Form</h2>
                        <hr>
                        <form action="#" class="bg-white">
                            <div class="row ">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="fw-bold" for="name">First Name</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="fw-bold" for="surname">Last Name</label>
                                        <input type="text" class="form-control" id="surname">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="fw-bold" for="email">Email</label>
                                <input type="email" class="form-control" id="email">
                                <span class="small">We'll never share your email with anyone else.</span>
                            </div>
                            <div class="form-group">
                                <label class="fw-bold" for="password">Password</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="form-group">
                                <label class="fw-bold" for="message">Message</label>
                                <textarea rows="5" class="form-control" id="message"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="fw-bold" for="select">Select</label><br>
                                <select class="form-select" name="select" id="select">
                                    <option value="">Untree.co</option>
                                    <option value="">Offers high quality free template</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="fw-bold" class="form-check-label ms-3" for="flexCheckChecked">
                                Custom checkbox
                                </label>
                            </div>
                            <button type="submit" class="submit btn btn-primary my-5">Submit</button>
                        </form>
                    </div>
                    <div class="col-lg-6 soc">
                    <h2 class="fw-bold">Social Icons</h2>
                    <hr>
                    <ul class="social list-unstyled d-flex">
                        <li><a href="#"><i class="bi bi-facebook mx-2"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter mx-2"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin mx-2"></i></a></li>
                        <li><a href="#"><i class="bi bi-google mx-2"></i></a></li>
                        <li><a href="#"><i class="bi bi-play-fill"></i></a></li>
                    </ul>
                    </div>
                </div>
        </div>

</section>



<!-- slider + -->
<section class="section3 slider my-4 mt-5 pt-5">
    <div class="container col-12 col-lg-4 ">
        <h2 class="fw-bold text-center">Slider</h2>
        <hr  class="custom-hr text-center mx-auto"/>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="slider-carousel carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="../../assets/images/person_1.jpg" class="d-block w-100 img-fluid rounded-circle center"  alt="...">
                <div class="carousel-caption d-none d-md-block mx-auto">
                  <h5>Adam Anderson</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../assets/images/person_2.jpg" class="d-block w-100 img-fluid rounded-circle center" alt="...">
                <div class="carousel-caption d-none d-md-block mx-auto">
                  <h5>Kayla Bryant</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../assets/images/person_3.jpg" class="d-block w-100 img-fluid rounded-circle center" alt="...">
                <div class="carousel-caption d-none d-md-block mx-auto">
                  <h5>Lukas Devlin</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            
          </div>
    </div>
</section>


<!-- team + -->
<section class="section4 my-3">
    <div class="container">
        <h2 class="fw-bold text-center">Our Team<br><hr class="our-hr text-center mx-auto"></h2>
    </div>
    <div class="container">
        <div class="row justify-content-center mx-auto mt-5 g-3">
            <div class="col-lg-3 mb-4">
                <img src="../../assets/images/person_1.jpg" alt=".." class="img-fluid mb-3">
                <div class="ms-2">
                    <h2>James Watson</h2>
                    <p>Co-Founder & CEO</p>
                </div>
                
            </div>
            <div class="col-lg-3 mb-4">
                <img src="../../assets/images/person_2.jpg" alt=".." class="img-fluid mb-3">
                <div class="ms-2">
                    <h2>Carl Anderson</h2>
                    <p>Co-Founder & CEO</p>
                </div>
                
            </div>
            <div class="col-lg-3 mb-4">
                <img src="../../assets/images/person_3.jpg" alt=".." class="img-fluid mb-3">
                <div class="ms-2">
                    <h2>Michelle Allison</h2>
                    <p>Co-Founder & CEO</p>
                </div>
                
            </div>
            <div class="col-lg-3 mb-4">
                <img src="../../assets/images/person_4.jpg" alt=".." class="img-fluid mb-3">
                <div class="ms-2">
                    <h2>Drew Wood</h2>
                    <p>Co-Founder & CEO</p>
                </div>
            </div>
        </div>
    </div>
    
</section>


<!-- get in touch + -->
<section class="section5 my-3">
    <div class="container-fluid my-5 py-5 mx-auto text-center" style="background: #1a374d;">
        <h1 class="text-white" style="font-size: 2.5rem;font-family: 'Source Serif Pro', serif;">Lets you Explore the Best. Contact Us Now</h1>
        <h2 class="text-white" style="font-size: 1.3rem;opacity: .8;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</h2>
        <button id="getintouch" class="btn btn-primary py-2 px-4 my-3">Get in touch</button>
    </div>
</section>


<!-- contact + -->
<section class="section5 contact">
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-4">
                <h3>About Tour</h3>
                <p class="" style="opacity: .8;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="social-links">
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-dribbble"></i></a>
                    <a href="#"><i class="bi bi-pinterest"></i></a>
                    <a href="#"><i class="bi bi-apple"></i></a>
                    <a href="#"><i class="bi bi-google"></i></a>
                </div>
            </div>
            <div class="col-lg-2">
                <h3>Pages</h3>
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#" class="a text-dark">Blog</a></li>
                    <li class="my-2"><a href="#" class="a text-dark">About</a></li>
                    <li class="my-2"><a href="#" class="a text-dark">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h3>Resources</h3>
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#" class="a text-dark">Blog</a></li>
                    <li class="my-2"><a href="#" class="a text-dark">About</a></li>
                    <li class="my-2"><a href="#" class="a text-dark">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3>Contact</h3>
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#" class="a text-dark"><i class="bi bi-envelope-fill me-2" style="opacity: .6;"></i>  mail@example.com</a></li>
                    <li class="my-2"><a href="#" class="a text-dark"><i class="bi bi-telephone-fill me-2" style="opacity: .6;"></i>  +1 222 212 3819</a></li>
                    <li class="my-2"><a href="#" class="a text-dark"><i class="bi bi-geo-alt-fill me-2" style="opacity: .6;"></i>  43 Raymouth Rd. Baltemoer, London 3910</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- footer + -->
<footer class="my-5">
    <div class="container text-center mb-5">
        <p style="opacity:.8;">
            Copyright ©2022. All Rights Reserved. — Designed with love by <span><a href="#" class="text-decoration-none text-dark"><strong>Untree.co</strong></a></span> <br>Distributed By <span><a href="#" class="text-decoration-none text-dark"><strong>ThemeWagon</strong></a></span>
        </p>
    </div>
</footer>

