<div class="container p-3">

    <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (change)="onValChange($event.value)" value="bold">Bold</mat-button-toggle>
        <mat-button-toggle (change)="onValChange($event.value)" value="italic">Italic</mat-button-toggle>
        <mat-button-toggle (change)="onValChange($event.value)" value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-card class="example-card my-4">
        <mat-card-header class="m-0">
            <mat-card-title *ngIf="type=='bold'">Bold</mat-card-title>
            <mat-card-title *ngIf="type=='italic'">Italic</mat-card-title>
            <mat-card-title *ngIf="type=='underline'">Underline</mat-card-title>

        </mat-card-header>
        <mat-card-content>

            <p>{{ longText }}</p>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <bubutton>SHARE</bubutton>
        </mat-card-actions>tton mat-button>LIKE</button>
            <button mat-
       
    </mat-card>
 -->
    <div class="row">
        <div class="col-4 offset-2">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             How to download and register?
            </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How to create your paypal account?
            </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How to link your paypal and bank account?
            </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>