@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");

* {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-size: 14px;
    box-sizing: border-box;
}

// #6998AB


.header{
    background: #1A374D;
    margin-top: 0!important;
}


.header h1{
    font-family: "Source Serif Pro", serif;
    color: #fff;
    font-size: 3rem;
}

.header p{
    color: #fff;
    font-size: .9rem;
}

//----------------------------------

.carousel .carousel-indicators button{
    width: 10px;
   height: 10px;
   border-radius: 100%;
   background-color: #CCCCCC;
   opacity: .6;
   margin-right: .5rem;
 }

.carousel .carousel-indicators .active{
   width: 10px;
   height: 10px;
   border-radius: 100%;
   background-color: #1A374D;
 }


//  ----------------------------------

.accordion{
    opacity: .6;
    color: black;
}



#accordion-list {
    border: 1px solid #ddd;
    border: 0;
}

.accordion-item {
    border: 0;
    position: relative;text-align: left;}

.accordion-button{
    // display: flex;
    // align-items: center;
    display: block;
    float: inline-start;
    width: 100%;
    text-align: left;
    margin-right: auto;
    // flex-wrap: wrap-reverse
    // margin-left: 2rem;
    border: 0;
}

.accordion-button:not(.collapsed) {
    color: #333;
    background-color: #b2dfdb;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
    width: auto;
    height: auto;
    background-image: none;
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.accordion-button::after {
    content: "+";
    font-weight: 100;
    color: #000000;
    transform: translateY(-4px);
    top: 20px;
    text-align: left;
    // padding-right: 420px;
    padding-bottom: 100px;
    margin-left: 1rem;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.accordion-button:not(.collapsed)::after {
    content: "-";
    transform: translate(-5px, -4px);
    transform: rotate(0deg);
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.accordion-item .btn-link:before {
    font-family: 'icomoon';
    content: "\f067";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15px; }


//------------------------------------
  
.video-wrap{
    justify-content: center;
    // position: absolute;
    color: #CCCCCC;
    font-size: 2rem;
    -webkit-transition: font-size .8s;
   -moz-transition: font-size .8s;
     -o-transition: font-size .8s;
        transition: font-size .8s;
}

.video-wrap:hover{
    vertical-align: middle;
    color: #CCCCCC;
    font-size: 3rem;
}

//------------------------------------------

form input{
    height: 3rem;
    border: 2px solid #efecec;
}
form textarea{
    height: 9rem;
    border: 2px solid #efecec;
}
form select{
    width: 100%;
    height: 2.8rem;
    border: 2px solid #efecec;
}

// input[type=text]:focus,
// input[type=password]:focus,
// form-control:focus,
// input[type=email]:focus ,
// input[type=textarea]:focus{
//     border: 3px solid #1A374D;
//   }

.form-control:focus {
    border-color: #1A374D;
    box-shadow: none!important;
}
.form-select:focus {
    border-color: #1A374D;
    box-shadow: none!important;
}

.small{
    font-size: x-small;
    opacity: .7;
}

.form-check-input{
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.form-check-input:checked{
    background-color: #1A374D;
    height: 25px;
    width: 25px;
    border: 0;
}

.form-check-input:not(:checked) {
    background-color: white;
    height: 25px;
    width: 25px;
    border: 0;
}

.form-group{
    margin-top: .5rem;
    padding-top: .5rem;
}
// #name{
//     width: 55%;
// }

// #surname{
//     width: 55%;
// } 

@media screen and (min-width: 768px) and (max-width: 998px) {
    
    #name, #surname{
        width: 53%;
    }
}


.submit{
    border: 0;
    background-color: #1A374D;
    padding: .8rem 1.8rem;
    border-radius: 40px;
}

.submit:hover{
    border: 0;
    background-color: #204561;
    padding: .8rem 1.8rem;
    border-radius: 40px;
}

.social a{
    // border: .1rem solid var(--color-body);
    margin-right: .2rem;
    border-radius: 3rem;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #F8F9FA;
    color: 1A374D;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.05);
}

.social .bi, .fa-play {
    color: #1A374D;
}




//------------------------------------
.slider-carousel img {
    margin: 2rem;
    align-items: center;
    display: block;
    max-width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12rem;
  }

  @media screen and (min-width:998px) {
    .section3{
        margin-left: 6rem;
    }
  }


//----------------------------------------------
 
  #getintouch{
    border-radius: 40px;
    border: 2px solid white;
    background: #1a374d;
    overflow: hidden;
  }
  #getintouch:hover{
    background: rgb(255, 255, 255);
    color: #1A374D;
    overflow: hidden;
  }

  strong:hover{
    text-decoration: underline;
  }

.a{
    text-decoration: none;
}

.a:hover{
    text-decoration: underline;
}


hr {
    opacity: 1;
    margin-right: auto;
    position: relative;
    top: 5px;
    color: black;
    border-color: black;
    height: 2px;
    background-color: rgb(0, 0, 0)!important;
    margin-bottom: 20px;
    width: 2rem;
}

// .custom-hr{
//     width: 2rem;
//     opacity: 1;
// }

//------------------------------------------

h2{
    font-size: large;
}

h5{
    font-size: medium;
}

.social-links a{
    // border: .1rem solid var(--color-body);
    margin-right: .2rem;
    border-radius: 3rem;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #1A374D;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.12);
}

.social-links a:hover{
    // border: .17rem solid var(--color-brand2);
}

.unstyled li a {
    line-height: 2rem;
}