 <!-- my_header -->
 <div class="container-fluid my_header">
   <h1>Contact Us</h1>
   <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
     texts.</p>
 </div>
 <!-- empty place -->
 <div class="container-fluid">
   &emsp;
 </div>

 <!-- Middle -->
 <div class="container-fluid middle_part">
   <!-- "Message" Cheatsheet -->
   <div class="container-fluid message">
     <article class="my-3" id="validation">
       <div class="bd-example-snippet bd-code-snippet">
         <div class="bd-example">
           <form class="row g-3">
             <div class="col-md-5">
               <label for="validationServer01" class="form-label">First name</label>
               <input type="text" class="form-control" id="validationServer01" required>
             </div>
             <div class="col-md-5">
               <label for="validationServer02" class="form-label">Last name</label>
               <input type="text" class="form-control" id="validationServer02" required>
             </div>
             <!-- empty place -->
             <div class="container-fluid">
               &emsp;
             </div>
             <div class="col-md-10">
               <label for="validationServer02" class="form-label">Email address</label>
               <input type="text" class="form-control" id="validationServer02" required>
             </div>
             <!-- empty place -->
             <div class="container-fluid">
               &emsp;
             </div>
             <div class="col-md-10">
               <label for="validationServer02" class="form-label">Message</label>
               <input type="text" class="form-control" id="validationServer02" required>
             </div>
             <div class="col-12">
               <button class="btn btn-primary my_button" type="submit">Send Message</button>
             </div>
           </form>
         </div>
       </div>
     </article>
   </div>
   <!-- empty place -->
   <div class="container-fluid">
     &emsp;
   </div>
   <!-- quick contact info -->
   <div class="container-fluid quick_cnt">
     <p>155 Market St #101, Paterson, NJ 07505, United States</p>

     <p>+1 202 2020 200</p>

     <p>@info@mydomain.com</p>
   </div>






   <!-- "Testimonials"  -->
   <div>

   </div>

   <!-- Footer -->
   <div class="container-fluid">
     <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
       <div class="col mb-3">
        <h5>About Tour</h5>
         <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
       
       
        </div>

       <div class="col mb-3">

       </div>

       <div class="col mb-3">
         <h5>Section</h5>
         <ul class="nav flex-column">
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
         </ul>
       </div>

       <div class="col mb-3">
         <h5>Section</h5>
         <ul class="nav flex-column">
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
         </ul>
       </div>

       <div class="col mb-3">
         <h5>Section</h5>
         <ul class="nav flex-column">
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
           <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
         </ul>
       </div>
     </footer>
   </div>
