<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <!-- <p>about-us works!</p> -->
    <br>
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide col-6" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/slider-1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/slider-2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/slider-3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/slider-4.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/slider-5.jpg" class="d-block w-100" alt="...">
                </div>
            </div>

            <!-- 
        <div class="col-6">
            <img src="assets/images/slider-1.jpg"  class="img-fluid rounded-20">
            <img src="assets/images/slider-2.jpg"  class="img-fluid rounded-20">
            <img src="assets/images/slider-3.jpg"  class="img-fluid rounded-20">
            <img src="assets/images/slider-4.jpg"  class="img-fluid rounded-20">
            <img src="assets/images/slider-5.jpg"  class="img-fluid rounded-20">
        </div> -->

            <div class="col-6">
                <h2 class="section-title mb-4">About Tours</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <ul class="list-unstyled two-col clearfix">
                    <li>Outdoor recreation activities</li>
                    <li>Airlines</li>
                    <li>Car Rentals</li>
                    <li>Cruise Lines</li>
                    <li>Hotels</li>
                    <li>Railways</li>
                    <li>Travel Insurance</li>
                    <li>Package Tours</li>
                    <li>Insurance</li>
                    <li>Guide Books</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <h2 class="team">Team</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="team">
                    <img src="assets/images/person_1.jpg" alt="Image" class="img-fluid mb-4 rounded-20">
                    <div class="px-3">
                        <h3 class="mb-0">James Watson</h3>
                        <p>Co-Founder &amp; CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="team">
                    <img src="assets/images/person_2.jpg" alt="Image" class="img-fluid mb-4 rounded-20">
                    <div class="px-3">
                        <h3 class="mb-0">Carl Anderson</h3>
                        <p>Co-Founder &amp; CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="team">
                    <img src="assets/images/person_3.jpg" alt="Image" class="img-fluid mb-4 rounded-20">
                    <div class="px-3">
                        <h3 class="mb-0">Carl Anderson</h3>
                        <p>Co-Founder &amp; CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="team">
                    <img src="assets/images/person_4.jpg" alt="Image" class="img-fluid mb-4 rounded-20">
                    <div class="px-3">
                        <h3 class="mb-0">Drew Wood</h3>
                        <p>Co-Founder &amp; CEO</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="section-title text-center mb-5">Testimonials</h2>

            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <figure class="img-play-video">
                    <a id="play-video" class="video-play-button" href="https://www.youtube.com/watch?v=mwtbEGNABWU" data-fancybox>
                        <span></span>
                    </a>
                    <img src="assets/images/hero-slider-2.jpg" alt="Image" class="img-fluid rounded-20">
                </figure>
            </div>
            <div class="col-6">
                <h2 class="section-title text-left mb-4">Take a look at Tour Video</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

                <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

                <ul class="list-unstyled two-col clearfix">
                    <li>Outdoor recreation activities</li>
                    <li>Airlines</li>
                    <li>Car Rentals</li>
                    <li>Cruise Lines</li>
                    <li>Hotels</li>
                    <li>Railways</li>
                    <li>Travel Insurance</li>
                    <li>Package Tours</li>
                    <li>Insurance</li>
                    <li>Guide Books</li>
                </ul>

                <p><a href="#" class="btn btn-primary">Get Started</a></p>


            </div>
        </div>
    </div>


    <app-blue-part></app-blue-part>

</body>

</html>