
<br> <br> <br> <br> <br>

<section class="section5 contact">
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-4">
                <h3>About Tour</h3>
                <p class="" style="opacity: .8;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="social-links">
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-dribbble"></i></a>
                    <a href="#"><i class="bi bi-pinterest"></i></a>
                    <a href="#"><i class="bi bi-apple"></i></a>
                    <a href="#"><i class="bi bi-google"></i></a>
                </div>
            </div>
            <div class="col-lg-2">
                <h3>Pages</h3>
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#" class="a text-dark">Blog</a></li>
                    <li class="my-2"><a href="#" class="a text-dark">About</a></li>
                    <li class="my-2"><a href="#" class="a text-dark">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h3>Resources</h3>
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#" class="a text-dark">Blog</a></li>
                    <li class="my-2"><a href="#" class="a text-dark">About</a></li>
                    <li class="my-2"><a href="#" class="a text-dark">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3>Contact</h3>
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#" class="a text-dark"><i class="bi bi-envelope-fill me-2" style="opacity: .6;"></i>  mail@example.com</a></li>
                    <li class="my-2"><a href="#" class="a text-dark"><i class="bi bi-telephone-fill me-2" style="opacity: .6;"></i>  +1 222 212 3819</a></li>
                    <li class="my-2"><a href="#" class="a text-dark"><i class="bi bi-geo-alt-fill me-2" style="opacity: .6;"></i>  43 Raymouth Rd. Baltemoer, London 3910</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer class="my-5">
    <div class="container text-center mb-5">
        <p style="opacity:.8;">
            Copyright ©2022. All Rights Reserved. — Designed with love by <span><a href="#" class="text-decoration-none text-dark"><strong>Untree.co</strong></a></span> <br>Distributed By <span><a href="#" class="text-decoration-none text-dark"><strong>ThemeWagon</strong></a></span>
        </p>
    </div>
</footer>




<!-- <div class="container">
    <footer class="py-5">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5 class="h5">About Tour</h5>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.</p>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5 class="h5">Pages</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5 class="h5">Resources</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2022 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">

            </ul>
        </div>
    </footer>
</div> -->