
.d-flex a i {
    float: left;
    padding-left: 10px;
    border-radius: 50%;
    background-color: #212529!important;
    color: white;
    padding: 10px;
    margin-right: 10px;
   }
   
   .tw {
       margin-left: 500px;
   }
   
   .h5 {
       color: black;
       font-size: 22px!important;
   }
   
  