
.d-flex a i {
    float: left;
    padding-left: 10px;
    border-radius: 50%;
    background-color: #212529!important;
    color: white;
    padding: 10px;
    margin-right: 10px;
   }
   
   .tw {
       margin-left: 500px;
   }
   
   .h5 {
       color: black;
       font-size: 22px!important;
   }
   
   .Ft-bl {
    background-color: #1A374D;
    width: 100%;
    height: 300px;
   }
   
   .hl {
       text-align: center;
       font-size: 33px;
       color: white;
       padding-top: 100px;
   }
   
   .pl {
       text-align: center;
       font-size: 22px;
       color: rgb(162, 162, 162);
   }
   
   .Get {
       padding: 10px 30px!important;
       border-radius: 45px!important;
       border: 1px solid white!important;
       margin-left: 850px;
       margin-top: 15px;
       background-color: #1A374D!important;
   }
   
   .Get:hover {
       background-color: white!important;
       color: #1A374D!important
   }
   