
    <!-- <div class="Ft-bl">
        <h1 class="hl">Lets you Explore the Best. Contact Us Now</h1>
        <p class="pl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</p>
        <button class="btn btn-primary Get ">Get In Touch</button>
    </div> -->


<!-- get in touch + -->
<section class="section5 my-3">
    <div class="container-fluid my-5 py-5 mx-auto text-center" style="background: #1a374d;">
        <h1 class="text-white" style="font-size: 2.5rem;font-family: 'Source Serif Pro', serif;">Lets you Explore the Best. Contact Us Now</h1>
        <h2 class="text-white" style="font-size: 1.3rem;opacity: .8;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</h2>
        <button id="getintouch" class="btn btn-primary py-2 px-4 my-3">Get in touch</button>
    </div>
</section>