<div class="container p-5 mb-5">
    <div class="row">
        <div class="col-lg-3 col-md-6 ps-5 pe-3 pt-5">
            <div class="pb-3"><img src="../../assets/images/hero-slider-1.jpg" alt="" class="img-fluid "></div>
            <h3>Excelence in Travel</h3>
            <p>Far far away, behind the world mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        <div class="col-lg-3 col-md-6 pt-5 pe-3 ps-5">
            <div class="pb-3"><img src="../../assets/images/hero-slider-2.jpg" alt="" class="img-fluid "></div>
            <h3>Discovering Best</h3>
            <p>Far far away, behind the world mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        <div class="col-lg-3 col-md-6 ps-5 pt-5 pe-3">
            <div class="pb-3"><img src="../../assets/images/hero-slider-3.jpg" alt="" class="img-fluid "></div>
            <h3>A New Moments of Life</h3>
            <p>Far far away, behind the world mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        <div class="col-lg-3 col-md-6 ps-5 pt-5 pe-3">
            <div class="pb-3"><img src="../../assets/images/hero-slider-4.jpg" alt="" class="img-fluid "></div>
            <h3>Joy To Your Journey</h3>
            <p>Far far away, behind the world mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
    </div>
</div>

<div class="container mt-5 pt-5 mb-5">
    <div class="row">
        <div class="col-lg-3 col-md-6 ps-5 ">
            <div class="text-center p-3">
                <i class="fa-solid fa-paper-plane fs-2 mb-3"></i>
                <h3>Excelence in Travel</h3>
                <p>Far far away, behind the world mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 ps-5 ">
            <div class="text-center p-3">
                <i class="fa-solid fa-tag fs-2 mb-3"></i>
                <h3>Discovering Best</h3>
                <p>Far far away, behind the world mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 ps-5 ">
            <div class="text-center p-3 ">
                <i class="fa-solid fa-user fs-2 mb-3"></i>
                <h3>A New Moments of Life</h3>
                <p>Far far away, behind the world mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 ps-5 ">
            <div class="text-center p-3">
                <i class="fa-regular fa-life-ring fs-2 mb-3"></i>
                <h3>Joy To Your Journey</h3>
                <p>Far far away, behind the world mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
    </div>
</div>



<div class="container mt-5 pt-5">
    <div class="row mb-5 justify-content-center">
        <div class="col-lg-6 text-center">
            <h2>More Services</h2>
            <hr>
            <p>Far far away, behind the world mountains, far from the countries Vokalia and Consonantia, there live the blind texts.Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>

    </div>


    <div class="row">
        <div class="col-lg-4 ps-5 pb-4">
            <img src="../../assets/images/hero-slider-1.jpg" alt="" class="img-fluid h-100 ">
        </div>

        <div class="col-lg-4 pe-4 ps-5">
            <div class="d-flex flex-column">
                <div class="design pb-5">
                    <i class="fa-solid fa-house "></i>
                    <h3>Beautiful Condo</h3>
                    <p>Even the all-powerful has no control about the blind texts.</p>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="design pt-5">
                    <i class="fa-solid fa-utensils"></i>
                    <h3>Restaurants & Cafe</h3>
                    <p>Even the all-powerful has no control about the blind texts.</p>
                </div>
            </div>
        </div>



        <div class="col-lg-4 pe-4 ps-5">
            <div class="d-flex flex-column">
                <div class="design pb-5">
                    <i class="fa-solid fa-envelope"></i>
                    <h3>Easy to Contact</h3>
                    <p>Even the all-powerful has no control about the blind texts.</p>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="design pt-5">
                    <i class="fa-sharp fa-solid fa-phone"></i>
                    <h3>24/7 Support</h3>
                    <p>Even the all-powerful has no control about the blind texts.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<app-blue-part></app-blue-part>