.container{
    border-radius: 5rem;
}

button{
    float: right;
    display: flex!important;
    width: auto!important;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

mat-card-title{
    justify-content: center;
    text-align: center;
    align-items: center;
}