
<div class="container rounded">
  <mat-card *ngIf="data" class="example-card rounded">
      <mat-card-header>
        <mat-card-title>{{data[0].title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="data[0].img_path" alt="dice1">
  </mat-card>
  <br>
  <mat-card *ngIf="data" class="example-card rounded">
      <mat-card-header>
        <mat-card-title>{{data[1].title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="data[1].img_path" alt="dice2">
  </mat-card>
  <mat-card-actions>
      <button mat-raised-button mat-dialog-close>Close</button>
  </mat-card-actions>
</div>
