.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.cta-section {
    background: #1A374D;
}

.custom-accordion .accordion-item {
    background-color: #f9f9f9;
    margin-bottom: 0px;
    position: relative;
    border-radius: 0px;
    overflow: hidden;
}

.custom-accordion .accordion-item .btn-link {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    text-align: left;
    color: #999;
    border: none;
    padding-left: 40px;
    border-radius: 0;
    position: relative;
    background: #ffffff;
}

.form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hr_design {
    color: red;
    border: 40px solid red;
    opacity: 1;
}